/* PÁGINA DE CONTATO */
.pg-contato{

}
	.pg-contato .fale-conosco{

	}
		.pg-contato .fale-conosco nav.menu-caminho{

		}
			.pg-contato .fale-conosco nav.menu-caminho a{

			}
		.pg-contato .fale-conosco .formulario{

		}
			.pg-contato .fale-conosco .formulario h5.titulo{
				max-width: 100%;
				padding: 20px 0 10px;
				text-align: left;
				color: var(--vermelho);
				text-transform: capitalize;
			}
			.pg-contato .fale-conosco .formulario form{

			}
				.pg-contato .fale-conosco .formulario form label{
					display: block;
					font-size: 22px;
					color: var(--cinza-titulo-footer);
					font-weight: 400;
					margin: 10px 0 5px;
				}
				.pg-contato .fale-conosco .formulario form input{
					
				}
				.pg-contato .fale-conosco .formulario form input::placeholder,.pg-contato .fale-conosco .formulario form textarea::placeholder{
					color: var(--cinza-escuro);
					font-style: italic;
					font-weight: 300;
				}
				.pg-contato .fale-conosco .formulario form textarea{
					resize: none;
				}
				.pg-contato .fale-conosco .formulario form input,.pg-contato .fale-conosco .formulario form textarea{
					width: 100%;
					display: block;
					border: 1px solid var(--vermelho);
					border-radius: 3px;
					padding: 4px 12px;
					color: var(--cinza-escuro);
					font-style: italic;
					font-weight: 300;
					outline: none;
				}
				.pg-contato .fale-conosco .formulario form input[type="submit"]{
					margin: 8px 0 40px;
					max-width: fit-content;
					text-transform: uppercase;
					background-color: var(--vermelho);
					color: #fff;
					font-size: 20px;
					padding: 2px 12px;
					font-weight: initial;
					font-style: initial;
					-webkit-transition: ease-in .1s;
					-moz-transition: ease-in .1s;
					-ms-transition: ease-in .1s;
					-o-transition: ease-in .1s;
					transition: ease-in .1s;
				}
				.pg-contato .fale-conosco .formulario form input[type="submit"]:hover{
					background-color: #fff;
					color: var(--vermelho);
				}