/* PÁGINA INICIAL */
.pg-inicial{

}
	.pg-inicial .carrossel-destaque{

	}
		.pg-inicial .carrossel-destaque a.item{
			height: auto;
		}
			.pg-inicial .carrossel-destaque a.item figure{

			}
				.pg-inicial .carrossel-destaque a.item figure img{
					width: 100%;
				}
	.pg-inicial .menu-opcoes-daloja{
		margin: 30px auto;
	}
		.pg-inicial .menu-opcoes-daloja ul.opcoes{
			display: flex;
			background-color: var(--cinza);
			padding: 15px 0px 32px;
			border-radius: 4px;
			-webkit-box-shadow: -4px 6px 5px -2px #bcbcbc;
			box-shadow: -4px 6px 5px -2px #bcbcbc;
			position: relative;
		}
		.pg-inicial .menu-opcoes-daloja ul.opcoes::before{
			content: '';
			position: absolute;
			bottom: 16px;
			left: 50%;
			width: 100%;
			height: 8px;
			background-color: #fff;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
			.pg-inicial .menu-opcoes-daloja ul.opcoes li{
				flex-grow: 1;
				display: flex;
				align-items: center;
			}
				.pg-inicial .menu-opcoes-daloja ul.opcoes li span{

				}
				.pg-inicial .menu-opcoes-daloja ul.opcoes li figure.icon{
					margin: 0 auto;
					flex-grow: 1;
					text-align: right;
				}
					.pg-inicial .menu-opcoes-daloja ul.opcoes li figure.icon img{
						max-width: 60px;
					}
				.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo{
					margin: 0 auto;
					flex-grow: 1;
					padding-left: 12px;
				}
					.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo p{
						font-size: 27px;
						text-transform: uppercase;
						margin: 0;
						font-weight: 600;
						line-height: 26px;
					}
					.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo span{
						font-weight: 600;
						font-size: 16px;
					}
	.pg-inicial .destaques-menor{
		display: flex;
		justify-content: space-between;
	}
		.pg-inicial .destaques-menor a.destaque{
			display: block;
			max-width: 33%;
			position: relative;
			cursor: pointer;
		}
			.pg-inicial .destaques-menor a.destaque figure.destaque-imagem{

			}
				.pg-inicial .destaques-menor a.destaque figure.destaque-imagem img{
					width: 100%;
				}
			.pg-inicial .destaques-menor a.destaque .destaque-conteudo{
				position: absolute;
				bottom: 0;
				width: 100%;
				color: #fff;
				padding: 0 24px 18px;
			}
				.pg-inicial .destaques-menor a.destaque .destaque-conteudo h3{
					text-transform: uppercase;
					font-weight: 800;
					font-size: 38px;
					border-bottom: 6px solid #fff;
					padding-bottom: 10px;
					margin-bottom: 14px;
				}
				.pg-inicial .destaques-menor a.destaque .destaque-conteudo span{
					font-size: 24px;
					font-style: italic;
				}
	.pg-inicial section.secao-produtos{

	}
		.pg-inicial section.secao-produtos .produto{

		}
			.pg-inicial section.secao-produtos .produto .div-titulo{

			}
				.pg-inicial section.secao-produtos .produto .div-titulo h2.titulo{

				}
			.pg-inicial section.secao-produtos .produto ul.carrossel{

			}
				.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto{
					
				}
					.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto a.add-lista-desejos{
						
					}
						.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto a.add-lista-desejos img{

						}
					.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto a.imagem-produto{
						
					}
						.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto a.imagem-produto figure{

						}
							.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto a.imagem-produto figure img{
								
							}
					.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto h3.titulo{
						
					}
					.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto .preco-produto{
						
					}
						.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto .preco-produto p{
							
						}
						.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto .preco-produto p.preco{
							
						}
						.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto .preco-produto p.parcela{
							
						}
						.pg-inicial section.secao-produtos .produto ul.carrossel li.item-produto input.button-comprar{
							
						}
	.pg-inicial .marcas{

	}
		.pg-inicial .marcas ul.carrossel{
			margin: 35px auto;
		}
			.pg-inicial .marcas ul.carrossel li{

			}
				.pg-inicial .marcas ul.carrossel li figure{

				}
					.pg-inicial .marcas ul.carrossel li figure img{
						margin: 0 auto;
						max-width: 170px;
					}

/* MEDIA QUERY */
@media(max-width: 1200px){

}
@media(max-width: 1100px){
	.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo p {
		font-size: 18px;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo span {
		font-size: 13px;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li figure.icon img {
		max-width: 45px;
	}
	.pg-inicial .destaques-menor a.destaque .destaque-conteudo h3 {
		font-size: 22px;
		border-bottom: 4px solid #fff;
	}
	.pg-inicial .destaques-menor a.destaque .destaque-conteudo span {
		font-size: 20px;
	}
}
@media(max-width: 991px){

}
@media(max-width: 768px){
	.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo p {
		font-size: 15px;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li {
		flex-wrap: wrap;
		text-align: center;
		padding: 0 5px;
		align-items: flex-end;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li figure.icon {
		text-align: center;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo {
		padding-left: 0;
	}
	.pg-inicial .destaques-menor a.destaque .destaque-conteudo span {
		font-size: 16px;
	}
	.pg-inicial .destaques-menor a.destaque .destaque-conteudo h3 {
		font-size: 20px;
		border-bottom: 2px solid #fff;
		padding-bottom: 4px;
		margin-bottom: 5px;
	}
	.pg-inicial .destaques-menor a.destaque .destaque-conteudo {
		padding: 0 15px 10px;
	}
}
@media(max-width: 670px){
	.pg-inicial .menu-opcoes-daloja ul.opcoes {
		flex-wrap: wrap;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li {
		padding: 0 5px 5px;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li span.conteudo {
		padding-left: 12px;
		text-align: left;
	}
	.pg-inicial .menu-opcoes-daloja ul.opcoes li figure.icon {
		text-align: right;
	}
}

@media(max-width: 540px){
	.pg-inicial .destaques-menor a.destaque {
		max-width: 100%;
		margin: 15px 0;
	}
	.pg-inicial .destaques-menor {
		display: block;
	}
}

@media(max-width: 445px){

}