/* PÁGINA DE PRODUTO */
.pg-produto{

}
	.pg-produto figure.imagem-produto{
		max-width: 520px;
		margin: 20px auto 0;
		display: block;
		border: 1px solid var(--vermelho);
		height: fit-content;
		overflow: hidden;
	}
		.pg-produto figure.imagem-produto img{
			width: 100%;
		}
	.pg-produto ul.carrossel-produto{
		max-width: 393px;
		margin: 15px auto 0;
	}
		.pg-produto ul.carrossel-produto li.item-produto{
			outline: none;
			width: 131px !important;
		}
			.pg-produto ul.carrossel-produto li.item-produto figure{
				max-height: 105px;
				overflow: hidden;
				border: 1px solid var(--vermelho);
				margin: 0 auto;
				max-width: 105px;
			}
				.pg-produto ul.carrossel-produto li.item-produto figure img{
					width: 100%;
					cursor: pointer;
				}
	.pg-produto .detalhes-produto{
		padding-left: 10px;
	}
		.pg-produto .detalhes-produto nav.caminho-categorias{

		}
			.pg-produto .detalhes-produto nav.caminho-categorias a{

			}
		.pg-produto .detalhes-produto h1.titulo{
			max-width: 100%;
			padding: 0;
			text-align: initial;
			text-transform: capitalize;
			font-size: 45px;
			border-bottom: 4px solid #000;
			padding-bottom: 10px;
			padding-top: 20px;
		}
		.pg-produto .detalhes-produto span.referencia{
			color: var(--cinza-escuro);
			font-weight: 700;
			font-size: 12px;
		}
		.pg-produto .detalhes-produto .preco{
			padding: 10px 0;
		}
			.pg-produto .detalhes-produto .preco p{
				color: var(--cinza-titulo-footer);
				line-height: 30px;
			}
			.pg-produto .detalhes-produto .preco p.valor-inicial{
				margin: 0;
				font-size: 20px;
				font-weight: 700;
			}
			.pg-produto .detalhes-produto .preco p.valor-com-desconto{
				font-size: 36px;
				font-weight: 800;
				margin: 0;
			}
			.pg-produto .detalhes-produto .preco p.valor-parcelado{
				font-size: 23px;
				font-weight: 700;
				margin: 0;
			}
				.pg-produto .detalhes-produto .preco p.valor-parcelado strong{
					font-weight: 800;
				}
		.pg-produto .detalhes-produto .div-button-comprar{
			position: relative;
			max-width: fit-content;
		}
		.pg-produto .detalhes-produto .div-button-comprar::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 35px;
			display: block;
			width: 35px;
			height: 30px;
			background-image: url(../img/c.svg);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			background-repeat: no-repeat;
			background-size: 32px;
			-webkit-transition: ease-in-out .3s;
			-moz-transition: ease-in-out .3s;
			-ms-transition: ease-in-out .3s;
			-o-transition: ease-in-out .3s;
			transition: ease-in-out .3s;
		}
		.pg-produto .detalhes-produto .div-button-comprar:hover::before{
			background-image: url(../img/c-red.svg);
			left: 268px;
		}
		.pg-produto .detalhes-produto input.button-comprar{
			background-color: var(--vermelho);
			border: none;
			color: #fff;
			text-transform: uppercase;
			font-size: 35px;
			font-weight: 800;
			padding: 6px 82px;
			border-radius: 3px;
			-webkit-transition: ease-in-out .3s;
			-moz-transition: ease-in-out .3s;
			-ms-transition: ease-in-out .3s;
			-o-transition: ease-in-out .3s;
			transition: ease-in-out .3s;
		}
		.pg-produto .detalhes-produto input.button-comprar:hover{
			background-color: #fff;
			color: var(--vermelho);
			box-shadow: 0 0 10px -2px #a8a8a8;
		}
		.pg-produto .detalhes-produto ul.compartilhar{
			display: flex;
			margin: 20px auto 0;
		}
			.pg-produto .detalhes-produto ul.compartilhar li{

			}
				.pg-produto .detalhes-produto ul.compartilhar li a{
					display: block;
					background-color: var(--vermelho);
					height: 34px;
					width: 34px;
					margin-right: 5px;
					border-radius: 100%;
					text-align: center;
					line-height: 30px;
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-produto .detalhes-produto ul.compartilhar li a:hover{
					background-color: #ff696e;
				}
					.pg-produto .detalhes-produto ul.compartilhar li a img{
						width: 100%;
						max-width: 18px;
					}
	.pg-produto .descricao{
		margin: 40px 0;
	}
		.pg-produto .descricao h4.titulo{
			max-width: 100%;
			text-align: initial;
			padding: 0;
			text-transform: initial;
			border-bottom: 4px solid #000;
			padding-bottom: 8px;
			margin-bottom: 15px;
		}
		.pg-produto .descricao .texto-descricao{
			color: var(--cinza-titulo-footer);
			font-size: 18px;
			font-weight: 600;
		}
			.pg-produto .descricao .texto-descricao p{

			}
	.pg-produto .relacionados{

	}
		.pg-produto .relacionados .div-titulo{

		}
			.pg-produto .relacionados .div-titulo h4.titulo{

			}
		.pg-produto .relacionados ul.carrossel{

		}
			.pg-produto .relacionados ul.carrossel li.item-produto{

			}
				.pg-produto .relacionados ul.carrossel li.item-produto a.add-lista-desejos{

				}
				.pg-produto .relacionados ul.carrossel li.item-produto a.imagem-produto{

				}
					.pg-produto .relacionados ul.carrossel li.item-produto a.imagem-produto figure{

					}
						.pg-produto .relacionados ul.carrossel li.item-produto a.imagem-produto figure img{

						}
				.pg-produto .relacionados ul.carrossel li.item-produto h3.titulo{
					padding: 0;
					margin: 0 auto;
				}
				.pg-produto .relacionados ul.carrossel li.item-produto .preco-produto{

				}
					.pg-produto .relacionados ul.carrossel li.item-produto .preco-produto p{

					}
					.pg-produto .relacionados ul.carrossel li.item-produto .preco-produto p.preco{

					}
					.pg-produto .relacionados ul.carrossel li.item-produto .preco-produto p.parcela{

					}
				.pg-produto .relacionados ul.carrossel li.item-produto input.button-comprar{

				}

/* MEDIA QUERY */
@media(max-width: 1024px){
	.pg-produto .detalhes-produto h1.titulo {
		font-size: 38px;
	}
	.pg-produto .detalhes-produto .preco p.valor-inicial {
		font-size: 20px;
	}
	.pg-produto .detalhes-produto .preco p.valor-com-desconto {
		font-size: 40px;
	}
	.pg-produto .detalhes-produto .preco p.valor-parcelado {
		font-size: 22px;
	}
	.pg-produto .detalhes-produto input.button-comprar {
		font-size: 30px;
	}
	.pg-produto .detalhes-produto .div-button-comprar:hover::before {
		left: 240px;
	}
}

@media(max-width: 800px){
	.pg-produto ul.carrossel-produto li.item-produto {
		width: 129px !important;
	}
}

@media(max-width: 785px){
	.pg-produto ul.carrossel-produto li.item-produto {
		width: 128px !important;
	}
}

@media(max-width: 770px){
	.pg-produto ul.carrossel-produto li.item-produto {
		width: 125px !important;
	}
}

@media (max-width: 768px){
	.pg-produto ul.carrossel-produto li.item-produto {
	    width: 131px !important;
	  }
	  .pg-produto .detalhes-produto {
	  	padding-left: 0;
	  }

}

@media(max-width: 445px){
	.pg-produto .descricao .texto-descricao {
		font-size: 15px;
	}
}

@media(max-width: 410px){
	.pg-produto ul.carrossel-produto {
		max-width: 249px;
	}
	.pg-produto ul.carrossel-produto li.item-produto {
		width: 83px !important;
	}
	.pg-produto ul.carrossel-produto li.item-produto figure {
		max-height: 76px;
		max-width: 76px;
	}
}

@media(max-width: 350px){
	.pg-produto .detalhes-produto input.button-comprar {
		padding: 6px 0;
		width: 100%;
	}
	.pg-produto .detalhes-produto ul.compartilhar {
		justify-content: center;
	}
	.pg-produto .detalhes-produto .preco p.valor-inicial {
		font-size: 20px;
	}
	.pg-produto .detalhes-produto .preco p.valor-com-desconto {
		font-size: 38px;
	}
	.pg-produto .detalhes-produto .preco p.valor-parcelado {
		font-size: 20px;
	}
	.pg-produto .detalhes-produto .div-button-comprar {
		max-width: 100%;
	}
	.pg-produto .detalhes-produto .div-button-comprar:hover::before {
		left: 250px;
	}
	.pg-produto .detalhes-produto .div-button-comprar::before {
		left: 35px;
	}
}