/* SIDEBAR FILTRO PRODUTOS */
.sidebar{

}
	.sidebar .filtros-sidebar{

	}
		.sidebar .filtros-sidebar h2.titulo{
			margin: 0;
			padding: 0;
			text-transform: capitalize;
			font-size: 35px;
			border-bottom: 2px solid var(--cinza-bordas);
			max-width: 100%;
			text-align: initial;
			padding-bottom: 8px;
			margin-bottom: 8px;
			position: relative;
			padding-left: 50px;
		}
		.sidebar .filtros-sidebar h2.titulo::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 24px;
			display: block;
			width: 30px;
			height: 30px;
			background-size: 25px;
			background-repeat: no-repeat;
			background-position: center;
		}
		.sidebar .subcategorias h2.titulo::before{
			background-image: url(../img/list.svg);
		}
		.sidebar .preco h2.titulo::before{
			background-image: url(../img/dollar.svg);
		}
		.sidebar .cor h2.titulo::before{
			background-image: url(../img/palette.svg);
		}
		.sidebar .tamanho h2.titulo::before{
			background-image: url(../img/tag.svg);
		}
		.sidebar .filtros-sidebar form{
			padding-left: 10px;
		}
			.sidebar .filtros-sidebar form label.checkbox{

			}
				.sidebar .filtros-sidebar form label.checkbox input{
					display: none;
				}
				.sidebar .filtros-sidebar form label.checkbox span.label-checkbox{
					
				}
				.sidebar .filtros-sidebar form label.checkbox span.label-checkbox::before{
					border-radius: 3px;
				}
				.sidebar .filtros-sidebar form label.checkbox span.label-checkbox::after{
					
					border-radius: 2px;
				}
		.sidebar .filtros-sidebar .filtro-preco{
			position: relative;
		}
		.sidebar .filtros-sidebar span.preco{
			width: 15px;
			height: 15px;
			display: block;
			background-color: var(--vermelho);
			border-radius: 100%;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		.sidebar .filtros-sidebar span.preco-left{
			left: 0;
			cursor: pointer;
		}
		.sidebar .filtros-sidebar span.preco-barra{
			width: 100%;
			height: 5px;
			display: block;
			background-color: var(--vermelho);
			border-radius: 0;
			transform: none;
			position: initial;
		}
		.sidebar .filtros-sidebar span.preco-right{
			right: 0;
			cursor: pointer;
		}
		.sidebar .filtros-sidebar .valor{
			display: flex;
			padding: 8px 0;
		}
			.sidebar .filtros-sidebar .valor p{
				flex-grow: 1;
				margin: 0;
				font-weight: 800;
				color: var(--cinza-titulo-footer);
			}
			.sidebar .filtros-sidebar .valor p.preco-min{

			}
			.sidebar .filtros-sidebar .valor p.preco-max{
				text-align: right;
			}
		.sidebar .filtros-sidebar ul{
			display: flex;
		}
			.sidebar .filtros-sidebar ul li.cor{
				width: 25px;
				height: 25px;
				border-radius: 3px;
				margin-right: 10px;
				border: 1px solid transparent;
				cursor: pointer;
			}
			.sidebar .filtros-sidebar ul li.b{
				background-color: #000;
			}
			.sidebar .filtros-sidebar ul li.y{
				background-color: #ffe800;
			}
			.sidebar .filtros-sidebar ul li.p{
				background-color: #ff00ee;
			}
			.sidebar .filtros-sidebar ul li.w{
				border-color: red;
			}
		.sidebar .filtros-sidebar form label.radio{

		}
			.sidebar .filtros-sidebar form label.radio input{
				display: none;
			}
			.sidebar .filtros-sidebar form label.radio span.label-radio{
				
			}
			.sidebar .filtros-sidebar form label.radio span.label-radio::before{
				border-radius: 100%;
			}
			.sidebar .filtros-sidebar form label.radio span.label-radio::after{
				border-radius: 100%;
				height: 7px !important;
			}

span.label-inputs{
	font-size: 16px;
	color: var(--cinza-bordas);
	font-weight: 500;
	position: relative;
	padding-left: 18px;
}
.sidebar .filtros-sidebar form label.checkbox span.label-checkbox::before,
.sidebar .filtros-sidebar form label.radio span.label-radio::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	width: 13px;
	height: 13px;
	border: 1px solid var(--vermelho);
}
.sidebar .filtros-sidebar form label.checkbox span.label-checkbox::after,
.sidebar .filtros-sidebar form label.radio span.label-radio::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 3px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
	width: 7px;
	height: 6px;
	background-color: var(--vermelho);
}
.sidebar .filtros-sidebar form label.checkbox input:checked + span.label-checkbox::after,
.sidebar .filtros-sidebar form label.radio input:checked + span.label-radio::after{
	display: block;
}
/* SIDEBAR FILTRO PRODUTOS */

/* SIDEBAR INSTITUCIONAL */
.sidebar-intitucional{

}
	.sidebar-intitucional h2.titulo{
		max-width: 100%;
		padding: 8px 0;
		text-align: left;
		text-transform: capitalize;
		font-size: 30px;
		padding-left: 35px;
		position: relative;
		margin: 0px 0 10px;
		border-bottom: 2px solid var(--cinza-titulo-footer);
	}
	.sidebar-intitucional h2.titulo::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 12px;
		width: 20px;
		height: 20px;
		background-image: url(../img/q.svg);
		background-repeat: no-repeat;
		background-size: 20px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.sidebar-intitucional h2.titulo:nth-child(1)::before{
		background-image: url(../img/team.svg);
	}
	.sidebar-intitucional nav{
		padding-left: 15px;
	}
		.sidebar-intitucional nav a{
			display: block;
			color: var(--cinza-titulo-footer);
			text-decoration: none;
			-webkit-transition: ease-in .1s;
			-moz-transition: ease-in .1s;
			-ms-transition: ease-in .1s;
			-o-transition: ease-in .1s;
			transition: ease-in .1s;
			padding: 3px 0;
		}
		.sidebar-intitucional nav a:hover{
			color: #000;
		}
/* SIDEBAR INSTITUCIONAL */