/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Lato', sans-serif;

*/

/* INICIAL */
  @import url("inicial.css");

/* CATEGORIAS */
  @import url("categoria.css");

/* CONTATO */
  @import url("contato.css");

/* DÚVIDAS */
  @import url("como-comprar.css");

/* INSTITUCIONAL */
  @import url("institucional.css");

/* PRODUTO */
  @import url("produto.css");

/* QUEM SOMOS */
  @import url("quem-somos.css");

/* SIDEBARS */
  @import url("sidebar.css");

:root{
  --vermelho: #e5343a;
  --cinza: #e0e0e0;
  --cinza-claro: #f4f4f4;
  --cinza-escuro: #c4c4c4;
  --cinza-titulo-footer: #a8a8a8;
  --cinza-bordas: #7b7b7b;
  --lato: 'Lato', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
li{
  list-style: none;
}
input{
  outline: none;
}

/* BODY */
body{
  font-family: var(--lato);
}
/* BODY */

/* HEADER */
header{
  background-color: var(--vermelho);
  position: relative;
}
  header .abrir-menu-mobile{
    position: absolute;
    width: 36px;
    height: 33px;
    /*border: 1px solid #fff;*/
    border-radius: 4px;
    top: 10px;
    right: 8px;
    padding: 4px 6px;
    display: none;
    z-index: 9;
  }
  header .abrir-menu-mobile span{
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 4px 0 0;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    
  }
  header .abrir-menu-mobile span.um.translate{
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    
  }
  header .abrir-menu-mobile span.dois.opacity-zero{
    opacity: 0;
  }
  header .abrir-menu-mobile span.tres.translate{
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  header .abrir-menu-mobile span.um.rotate{
    -webkit-transform: translateY(6px) rotate(48deg);
    -moz-transform: translateY(6px) rotate(48deg);
    -ms-transform: translateY(6px) rotate(48deg);
    -o-transform: translateY(6px) rotate(48deg);
    transform: translateY(6px) rotate(48deg);
  }
  header .abrir-menu-mobile span.tres.rotate{
    -webkit-transform: translateY(-6px) rotate(-48deg);
    -moz-transform: translateY(-6px) rotate(-48deg);
    -ms-transform: translateY(-6px) rotate(-48deg);
    -o-transform: translateY(-6px) rotate(-48deg);
    transform: translateY(-6px) rotate(-48deg);
  }
  header .menu-topo{
    padding: 4px 0 5px;
  }
    header .menu-topo p{
      color: #fff;
      margin: 0;
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
    }
      header .menu-topo p a{
        color: #fff;
        text-decoration: underline;
      }
  header .menu-topo ul{
    text-align: right;
    margin: 0;
  }
    header .menu-topo ul li{
      display: inline-block;
      padding-right: 40px;
      vertical-align: middle;
    }
      header .menu-topo ul li a{
        color: #fff;
        font-weight: 300;
        font-size: 16px;
      }
    header .menu-topo ul li.icon{
      padding-right: 2px;
    }
      header .menu-topo ul li.icon a{
        display: block;
      }
        header .menu-topo ul li.icon a img{
          width: 100%;
          max-width: 14px;
        }
  header .menu-meio{
    background-color: #fff;
    padding: 8px 0;
  }
  header .menu-meio .row{
    display: flex;
    align-items: center;
  }
    header .menu-meio a.logo{

    }
      header .menu-meio a.logo figure{
        max-width: 170px;
      }
        header .menu-meio a.logo figure img{
          width: 100%;
          max-width: 136px;
          margin: 0 auto;
          display: block;
        }
    header .menu-meio .login-pesquisa{

    }
      header .menu-meio .login-pesquisa .menu-login{
        padding: 0 0 9px 7px;
      }
        header .menu-meio .login-pesquisa .menu-login p{
          display: inline-block;
          color: #000;
          font-size: 18px;
          position: relative;
          padding-left: 27px;
          margin: 0;
          font-weight: 300;
        }
        header .menu-meio .login-pesquisa .menu-login p::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 22px;
          height: 22px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          background-size: cover;
          background-repeat: no-repeat;
        }
          header .menu-meio .login-pesquisa .menu-login p a{
            color: #000;
          }
            header .menu-meio .login-pesquisa .menu-login p a strong{
              font-weight: 600;
            }
        header .menu-meio .login-pesquisa .menu-login .login{
          padding-right: 30px;
        }
        header .menu-meio .login-pesquisa .menu-login .login::before{
          background-image: url('../img/signin.svg');
        }
        header .menu-meio .login-pesquisa .menu-login .whatsapp{

        }
        header .menu-meio .login-pesquisa .menu-login .whatsapp::before{
          background-image: url('../img/whatsapp.svg');
        }
      header .menu-meio .login-pesquisa form.pesquisa{
        position: relative;
      }
        header .menu-meio .login-pesquisa form.pesquisa input{
          border: 1px solid var(--vermelho);
          width: 100%;
          color: var(--vermelho);
          font-size: 17px;
          border-radius: 4px;
          padding: 3px 0 5px 8px;
        }
        header .menu-meio .login-pesquisa form.pesquisa input::placeholder{
          color: var(--vermelho);
          font-style: italic;
          font-weight: 300;
        }
        header .menu-meio .login-pesquisa form.pesquisa input[type="submit"]{
          position: absolute;
          width: 34px;
          right: 0;
          top: 0;
          background-color: var(--vermelho);
          background-image: url(../img/search.svg);
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 0 4px 4px 0;
          padding-left: 0;
        }
    header .menu-meio .desejos-carrinho{

    }
      header .menu-meio .desejos-carrinho a.meus-produtos{
        background-color: var(--vermelho);
        display: flex;
        cursor: pointer;
        margin: 0 6px;
        border-radius: 4px;
        padding: 8px 10px 10px;
      }
        header .menu-meio .desejos-carrinho a.meus-produtos figure.icon{
          padding: 5px 0;
        }
          header .menu-meio .desejos-carrinho a.meus-produtos figure.icon img{
            width: 100%;
            max-width: 44px;
            height: 40px;
          }
        header .menu-meio .desejos-carrinho a.meus-produtos .conteudo{
          color: #fff;
          padding-left: 15px;
        }
          header .menu-meio .desejos-carrinho a.meus-produtos .conteudo p{
            font-size: 17px;
            font-weight: 300;
            margin: 0;
          }
          header .menu-meio .desejos-carrinho a.meus-produtos .conteudo span{
            font-size: 28px;
            font-weight: 600;
            line-height: 20px;
          }
  header .menu-principal{
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
  }
  header .menu-principal.menu-mobile-ativo{
    top: 0;
  }
    header .menu-principal ul{
      display: flex;
      margin: 0;
      /*position: relative;*/
    }
      header .menu-principal ul li.menu-principal-item{
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        padding: 4px 0;
        position: relative;
        -webkit-transition: ease-in-out .2s;
        -moz-transition: ease-in-out .2s;
        -ms-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(3){
        padding-left: 10px;
      }
      header .menu-principal ul li.menu-principal-item:hover{
        background-color: #fff;
      }
      header .menu-principal ul li.menu-principal-item::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 4px;
        width: 28px;
        height: 40px;
        display: block;
        background-size: 27px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: ease-in-out .2s;
        -moz-transition: ease-in-out .2s;
        -ms-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(1)::before{
        background-image: url(../img/1.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(2)::before{
        background-image: url(../img/2.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(3)::before{
        background-image: url(../img/3.svg);
        height: 30px;
        background-size: 22px;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(4)::before{
        background-image: url(../img/4.svg);
        left: 17px;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(5)::before{
        background-image: url(../img/5.svg);
        left: 17px;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(6)::before{
        background-image: url(../img/6.svg);
        left: 17px;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(7)::before{
        background-image: url(../img/7.svg);
        left: 17px;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(8)::before{
        background-image: url(../img/8.png);
        height: 30px;
        background-size: 22px;
      }
      header .menu-principal ul li.menu-principal-item:nth-child(1):hover::before{
        background-image: url(../img/1h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(2):hover::before{
        background-image: url(../img/2h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(3):hover::before{
        background-image: url(../img/3h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(4):hover::before{
        background-image: url(../img/4h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(5):hover::before{
        background-image: url(../img/5h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(6):hover::before{
        background-image: url(../img/6h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(7):hover::before{
        background-image: url(../img/7h.svg);
      }
      header .menu-principal ul li.menu-principal-item:nth-child(8):hover::before{
        background-image: url(../img/8h.png);
      }
      header .menu-principal ul li.menu-principal-item::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 7px;
        height: 7px;
        display: block;
        border-top: 7px solid transparent;
        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -ms-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        transition: ease-in-out .3s;
        z-index: 2;
        opacity: 0
      }
      header .menu-principal ul li.menu-principal-item:hover::after{
        opacity: 1;
      }
        header .menu-principal ul li.menu-principal-item a{
          color: #fff;
          display: block;
        }
        header .menu-principal ul li.menu-principal-item:hover a{
          color: var(--vermelho);
        }
        header .menu-principal ul li.menu-principal-item .div-submenu{
          display: none;
          position: absolute;
          top: 42px;
          left: -76px;
          background-color: #fff;
          -webkit-box-shadow: 0 0 18px -5px #686868;
          box-shadow: 0 0 18px -5px #686868;
          z-index: 2;
          min-width: 710px;
        }
        header .menu-principal ul li.menu-principal-item:hover .div-submenu{
          display: flex;
        }
        header .menu-principal ul li.menu-principal-item:nth-child(6) .div-submenu,
        header .menu-principal ul li.menu-principal-item:nth-child(7) .div-submenu,
        header .menu-principal ul li.menu-principal-item:nth-child(8) .div-submenu{
          right: 0;
          left: initial;
        }
          header .menu-principal ul li.menu-principal-item .div-submenu ul.submenu{
            flex-wrap: wrap;
            padding: 12px 18px;
            align-content: center;
            flex-shrink: 2;
          }
            header .menu-principal ul li.menu-principal-item .div-submenu ul.submenu li.item-submenu{
              font-size: 17px;
              font-weight: 500;
              flex-grow: 1;
              flex-basis: 204px;
              text-align: left;
              padding: 4px 0;
              position: relative;
              padding-left: 15px;
              height: fit-content;
            }
            header .menu-principal ul li.menu-principal-item .div-submenu ul.submenu li.item-submenu::before{
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 11px;
              height: 12px;
              display: block;
              background-image: url(../img/minus.svg);
              background-repeat: no-repeat;
              background-size: 11px;
              background-position: center;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
            }
              header .menu-principal ul li.menu-principal-item .div-submenu ul.submenu li.item-submenu a{
                color: #000;
              }
          header .menu-principal ul li.menu-principal-item .div-submenu .anuncio{
            position: relative;
            width: 100%;
            max-width: 185px;
          }
            header .menu-principal ul li.menu-principal-item .div-submenu .anuncio figure{

            }
              header .menu-principal ul li.menu-principal-item .div-submenu .anuncio figure img{
                width: 100%;
              }
            header .menu-principal ul li.menu-principal-item .div-submenu .anuncio .button-confira{
              position: absolute;
              bottom: 8px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              background-color: var(--vermelho);
              border-radius: 3px;
            }
              header .menu-principal ul li.menu-principal-item .div-submenu .anuncio .button-confira a{
                color: #fff;
                display: block;
                padding: 0px 42px;
                text-transform: uppercase;
                font-style: italic;
                font-size: 20px;
                text-decoration: none;
              }
/* HEADER */

/* FOOTER */
footer{
  background-color: var(--cinza-claro);
}
  footer .row{
    padding: 26px 0;
  }
  footer .newsletter{
    background-image: url(../img/news.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 16px 0;
  }
    footer .newsletter form.newsletter{
      text-align: center;
      display: flex;
      justify-content: space-between;
      background: none;
    }
      footer .newsletter form.newsletter input{
        flex-grow: 2;
        max-width: 39%;
        padding: 4px 15px;
        font-size: 20px;
        border: 1px solid var(--vermelho);
      }
      footer .newsletter form.newsletter input[type="submit"]{
        flex-grow: 1;
        max-width: 20%;
        background-color: var(--vermelho);
        color: #fff;
        text-transform: uppercase;
        font-size: 27px;
        padding: 0 0;
        -webkit-transition: ease-in .2s;
        -moz-transition: ease-in .2s;
        -ms-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        transition: ease-in .2s;
      }
      footer .newsletter form.newsletter input[type="submit"]:hover{
        background-color: #ff696e;
        border-color: #ff696e;
      }
    footer .redes-sociais{

    }
      footer .redes-sociais .row{
        padding: 0;
      }
      footer .redes-sociais a.rede-social{
        background-repeat: no-repeat;
        background-size: 130px;
        background-position: center;
        height: 55px;
        display: block;
      }
      footer .redes-sociais a.facebook{
        background-image: url(../img/rede.png);
        background-color: #3b5997;
      }
      footer .redes-sociais a.instagram{
        background-image: url(../img/rede1.png);
        background-color: #874327;
      }
    footer .menu-footer{

    }
      footer .menu-footer h4.titulo{
        font-size: 25px;
        color: var(--cinza-titulo-footer);
        text-transform: uppercase;
        font-weight: 600;
        max-width: 100%;
        padding: 0;
        text-align: left;
        margin-bottom: 10px;
      }
      footer .menu-footer nav{

      }
        footer .menu-footer nav a{
          display: block;
          color: #000;
          font-size: 18px;
          position: relative;
          padding: 4px 0;
          padding-left: 26px;
        }
        footer .menu-footer nav a::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 15px;
          height: 15px;
          background-image: url(../img/minus.svg);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          background-size: 18px;
          background-repeat: no-repeat;
          background-position: center;
        }
      footer .menu-footer ul{

      }
        footer .menu-footer ul li{

        }
          footer .menu-footer ul li figure{

          }
            footer .menu-footer ul li figure img{
              width: 100%;
              max-width: 155px;
            }
    footer figure.logo-footer{
      text-align: center;
      padding: 50px 0;
    }
      footer figure.logo-footer img{
        width: 100%;
        max-width: 250px;
      }
    footer .pagamento-copyright{
      background-color: #fff;
      border-top: 2px solid var(--vermelho);
    }
      footer .pagamento-copyright .row{
        padding: 0;
      }
      footer .pagamento-copyright .formas-pagamento{
        display: flex;
        align-items: center;
      }
        footer .pagamento-copyright .formas-pagamento h5.titulo{
          text-transform: uppercase;
          color: var(--cinza-titulo-footer);
          font-size: 18px;
          padding-right: 10px;
          max-width: 100%;
          padding: 0;
        }
        footer .pagamento-copyright .formas-pagamento ul{
          display: flex;
          margin: 0;
          padding: 5px 0;
          flex-wrap: wrap;
        }
          footer .pagamento-copyright .formas-pagamento ul li{

          }
            footer .pagamento-copyright .formas-pagamento ul li figure{

            }
              footer .pagamento-copyright .formas-pagamento ul li figure img{
                max-width: 55px;
              }
      footer .pagamento-copyright .copyright{
        text-align: right;
        padding: 11px 0;
      }
        footer .pagamento-copyright .copyright p{
          font-size: 16px;
          color: var(--cinza-titulo-footer);
          font-style: italic;
          margin: 0;
        }
/* FOOTER */

/* GERAL */
.container-full{
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
  padding: 0 10px;
}

.titulo{
  position: relative;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 600;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0 18px;
}
.titulo::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pg nav.menu-caminho{
  padding: 26px 0 0;
}
  .pg nav.menu-caminho a{
    font-size: 16px;
    font-weight: 300;
    color: var(--cinza-titulo-footer);
    text-decoration: none;
    position: relative;
    padding-left: 18px;
  }
  .pg nav.menu-caminho a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 17px;
    height: 20px;
    background-image: url(../img/r-grey.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .pg nav.menu-caminho a:nth-child(1){
    padding: 0;
  }
  .pg nav.menu-caminho a:nth-child(1)::before{
    display: none;
  }

.pg{
  
}
  .pg .produto{

  }
  .pg .div-titulo{
    position: relative;
    margin: 20px auto;
  }
  .pg .div-titulo::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
  }
    .pg .div-titulo h2.titulo{
      position: relative;
      text-align: center;
      font-size: 43px;
      text-transform: uppercase;
      font-weight: 800;
      max-width: fit-content;
      margin: 0 auto;
      padding: 0 18px;
    }
    .pg .div-titulo h2.titulo::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      background-color: #fff;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  .pg ul.lista-produtos{

  }
    .pg ul.lista-produtos li.item-produto{
      outline: none;
      text-align: center;
      /*padding: 16px;*/
      box-shadow: 0 0 6px -4px #000;
      margin: 5px 5px;
      border-radius: 4px;
      position: relative;
    }
      .pg ul.lista-produtos li.item-produto a.add-lista-desejos{
        display: block;
        position: absolute;
        top: 14px;
        left: 16px;
        width: 30px;
        outline: none;
      }
        .pg ul.lista-produtos li.item-produto a.add-lista-desejos img{
          width: 100%;
        }
      .pg ul.lista-produtos li.item-produto a.imagem-produto{
        outline: none;
      }
        .pg ul.lista-produtos li.item-produto a.imagem-produto figure{
          height: 180px;
        }
          .pg ul.lista-produtos li.item-produto a.imagem-produto figure img{
            width: auto;
            /* max-width: 220px; */
            margin: 0 auto;
            height: -webkit-fill-available;
          }
      .pg ul.lista-produtos li.item-produto .info-produto{
        padding: 16px;
      }
      .pg ul.lista-produtos li.item-produto .info-produto:hover{
        background-color: var(--vermelho);
      }
      .pg ul.lista-produtos li.item-produto h3.titulo{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 800;
        margin: 5px auto 0px;
        padding: 0;
        height: 47px;
      }
      .pg ul.lista-produtos li.item-produto .info-produto:hover h3.titulo{
        color: #fff;
      }
      .pg ul.lista-produtos li.item-produto .preco-produto{
        display: flex;
      }
        .pg ul.lista-produtos li.item-produto .preco-produto p{
          flex-grow: 1;
          font-style: italic;
          margin: 0;
        }
        .pg ul.lista-produtos li.item-produto .preco-produto p.preco{
          font-size: 32px;
          text-align: right;
          padding-right: 15px;
        }
        .pg ul.lista-produtos li.item-produto .preco-produto p.parcela{
          text-align: initial;
          font-size: 15px;
          line-height: 17px;
          padding-top: 5px;
          font-weight: 600;
        }
        .pg ul.lista-produtos li.item-produto .info-produto:hover .preco-produto p{
          color: #fff;
        }
      .pg ul.lista-produtos li.item-produto input.button-comprar{
        width: 100%;
        border: none;
        background-color: var(--vermelho);
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 800;
        padding: 3px 0;
        border-radius: 3px;
      }
      .pg ul.lista-produtos li.item-produto .info-produto:hover input.button-comprar{
        background-color: #fff;
        color: var(--vermelho);
      }
      .pg ul.lista-produtos li.item-produto .info-produto, .pg ul.lista-produtos li.item-produto h3.titulo, .pg ul.lista-produtos li.item-produto .preco-produto p, .pg ul.lista-produtos li.item-produto input.button-comprar{
        -webkit-transition: ease-in .1s;
        -moz-transition: ease-in .1s;
        -ms-transition: ease-in .1s;
        -o-transition: ease-in .1s;
        transition: ease-in .1s;
      }
    .pg ul.lista-produtos li.item-produto.confira{
      padding: 0;
      position: relative;
    }
    .pg ul.lista-produtos li.item-produto.confira::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 85%;
      height: 90%;
      border: 3px solid #fff;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
      .pg ul.lista-produtos li.item-produto.confira a{
        outline: none;
        display: block;
      }
        .pg ul.lista-produtos li.item-produto.confira a figure{
          width: 100%;
          max-height: 349px;
          overflow: hidden;
          border-radius: 4px;
        }
          .pg ul.lista-produtos li.item-produto.confira a figure img{
            width: 100%;
          }
        .pg ul.lista-produtos li.item-produto.confira a p{
          margin: 0;
          position: absolute;
          bottom: 35px;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 27px;
        }
.pg .borda-categorias{
  position: relative;
}
.pg .borda-categorias::before{
  content: '';
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--cinza-bordas);
}

/* GERAL */

/* EXTRAS */
/* EXTRAS */

/* EM BREVE */
  body.body-em-breve{
    background: url(../img/bk.png);
    background-position: center!important;
    background-size: cover!important;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    height: 100vh;
  }
  body.body-em-breve .pg-inicial{

  }
    body.body-em-breve .pg-inicial .tituloTexto{
      position: relative;
    }

      body.body-em-breve .pg-inicial .tituloTexto h2{
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 70px;
        font-weight: 100;
        margin: 15px 0;
      }

      body.body-em-breve .pg-inicial .tituloTexto h3{
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-size: 60px;
          margin: 0;
          font-weight: 700;
      }
        body.body-em-breve .pg-inicial .tituloTexto h3:after{
          content: " ";
          display: block;
          width: 100%;
          height: 2px;
          background: #fff;
          margin: 35px auto 0;
          max-width: 620px;
        }
      body.body-em-breve .pg-inicial .tituloTexto span{
          font-style: italic;
          display: block;
          text-align: center;
          color: #fff;
          font-size: 30px;
          text-transform: uppercase;
          font-weight: 100;
          margin-top: 40px;
      }
  body.body-em-breve .pg-inicial section{

  }
    body.body-em-breve .pg-inicial section ul{
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      margin-top: 60px;
    }
      body.body-em-breve .pg-inicial section ul li{
        max-width: 20%;
        display: inline-block;
        margin: 0px 40px;
        vertical-align: top;
      }
        body.body-em-breve .pg-inicial section ul li img{
          max-width: 55px;
          display: block;
          width: 100%;
          margin: 0 auto;
        }
        body.body-em-breve .pg-inicial section ul li p{
          margin-top: 20px;
        }
         body.body-em-breve .pg-inicial section ul li p a{
            color: #fff;
            font-weight: 500;
            font-size: 17px;
            line-height: 17px;
            font-style: italic;
        }
/* EM BREVE */

/* MEDIA QUERY */
@media(max-width: 1400px){
  .container-full {
    max-width: 1240px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos {
    padding: 8px 6px 10px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos .conteudo {
    padding-left: 10px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos .conteudo p {
    font-size: 15px;
  }
  header .menu-principal ul li.menu-principal-item::before {
    left: -2px;
    background-size: 22px;
  }
  header .menu-principal ul li.menu-principal-item:nth-child(8)::before{
    background-size: 18px;
  }
  header .menu-principal ul li.menu-principal-item {
    font-size: 22px;
  }
  header .menu-principal ul li.menu-principal-item .div-submenu {
    top: 39px;
  }
  footer .menu-footer h4.titulo {
    font-size: 22px;
  }
  footer .menu-footer nav a {
    font-size: 16px;
    padding-left: 17px;
  }
  footer .menu-footer nav a::before {
    width: 12px;
    background-size: 12px;
  }
  .pg ul.lista-produtos li.item-produto input.button-comprar {
    font-size: 20px;
  }
  .pg ul.lista-produtos li.item-produto .preco-produto p.preco {
    font-size: 30px;
    padding-right: 5px;
  }
  .pg ul.lista-produtos li.item-produto h3.titulo {
    font-size: 19px;
  }
  header .menu-principal ul li.menu-principal-item:nth-child(4)::before,
  header .menu-principal ul li.menu-principal-item:nth-child(5)::before,
  header .menu-principal ul li.menu-principal-item:nth-child(6)::before,
  header .menu-principal ul li.menu-principal-item:nth-child(7)::before{
    left: 8px;
  }
  .pg ul.lista-produtos li.item-produto {
    min-height: 336px;
    max-height: 336px;
  }
  .pg ul.lista-produtos li.item-produto.confira a figure {
    min-height: inherit;
    max-height: -webkit-fill-available;
  }
  .pg ul.lista-produtos li.item-produto.confira a figure img {
    width: auto;
  }
}

@media(max-width: 1200px){
  header .menu-meio .desejos-carrinho a.meus-produtos figure.icon img {
    width: 100%;
    max-width: 30px;
  }
  header .menu-principal ul li.menu-principal-item::before {
    left: -4px;
    background-size: 20px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos .conteudo {
    padding-left: 4px;
  }
}

@media(max-width: 1100px){
  header .menu-principal ul li.menu-principal-item::before{
    display: none;
  }
  header .menu-principal ul li.menu-principal-item {
    font-size: 18px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos {
    padding: 6px 0 7px;
    display: block;
    text-align: center;
  }
  footer .menu-footer h4.titulo {
    font-size: 17px;
  }
  footer .menu-footer nav a {
    font-size: 14px;
  }
  .pg ul.lista-produtos li.item-produto .preco-produto p.preco {
    font-size: 29px;
    padding-right: 3px;
  }
  .pg ul.lista-produtos li.item-produto .preco-produto p.parcela {
    font-size: 13px;
  }
  .pg ul.lista-produtos li.item-produto h3.titulo {
    font-size: 20px;
    padding: 0 0;
  }
}

@media(max-width: 1020px){
  .pg nav.menu-caminho a {
    font-size: 15px;
    padding-right: 10px;
  }
}

@media(max-width: 991px){
  header .menu-topo ul li {
    padding-right: 18px;
  }
  .pg-categorias .borda-categorias::before {
    top: 102px;
  }
}

@media(max-width: 830px){
  header .menu-meio .login-pesquisa .menu-login p {
    font-size: 15px;
    padding-left: 20px;
  }
  header .menu-meio .login-pesquisa .menu-login p::before {
    width: 18px;
    height: 18px;
  }
  header .menu-meio .login-pesquisa .menu-login .login {
    padding-right: 20px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos figure.icon {
    padding: 5px 0 0;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos .conteudo p {
    font-size: 13px;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos .conteudo span {
    font-size: 20px;
  }
  header .menu-meio a.logo figure img {
    max-width: 106px;
  }
  header .menu-topo ul li {
    padding-right: 5px;
  }
  header .menu-principal ul li.menu-principal-item {
    font-size: 16px;
  }
}

@media(max-width: 768px){
  body.body-em-breve .pg-inicial section ul li{
    display: block;
    max-width: 100%;
    margin:10px 0 20px;
  }
  body.body-em-breve .pg-inicial .tituloTexto h3{
    font-size: 26px;
  }
  body.body-em-breve .pg-inicial .tituloTexto h2{
    font-size: 50px;
  }
  header .menu-topo ul li {
    padding: 0 5px;
  }
  header .menu-topo ul {
    text-align: center;
  }
  header .menu-topo p {
    text-align: center;
  }
  header .menu-meio .desejos-carrinho a.meus-produtos {
    display: flex;
    margin: 5px 6px;
    padding: 8px 10px 10px;
    justify-content: center;
  }
  header .menu-meio .row {
     display: initial; 
  }
  header .menu-meio a.logo figure{
    margin: 0 auto;
  }
  header .menu-meio .login-pesquisa{
    text-align: center;
  }
  header .abrir-menu-mobile{
    display: block;
  }
  header .menu-principal {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 2;
    top: -200%;
    background-color: var(--vermelho);
    /*padding: 0 30px;*/
  }
  header .menu-principal ul {
    display: block;
  }
  header .menu-principal ul li.menu-principal-item {
    font-size: 22px;
    text-align: left;
    padding-left: 30px !important;
    padding-right: 30px;
  }
  header .menu-principal ul li.menu-principal-item .div-submenu{
    min-width: unset;
    width: 100%;
    left: 0 !important;
  }
  footer .menu-footer {
    text-align: center;
  }
  footer .menu-footer h4.titulo {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
  }
  footer .menu-footer nav a {
    font-size: 16px;
    padding-left: 0;
  }
  footer .menu-footer nav a::before {
    display: none;
  }
  footer .pagamento-copyright .copyright {
    text-align: center;
  }
  .pg ul.lista-produtos li.item-produto a.add-lista-desejos {
    width: 24px;
  }
  .pg .div-titulo h2.titulo {
    font-size: 30px;
  }
  .pg-categorias .borda-categorias::before {
    top: 108px;
  }
}

@media(max-width: 550px){
  footer .newsletter form.newsletter input[type="submit"] {
    margin: 0 0 0 auto;
    max-width: 45%;
    font-size: 20px;
  }
  footer .newsletter form.newsletter input {
    width: 100%;
    max-width: 100%;
    padding: 6px 10px;
    font-size: 16px;
    margin: 5px 0;
    display: block;
  }
  footer .newsletter form.newsletter {
    display: block;
  }
}

@media(max-width: 500px){
  header .abrir-menu-mobile {
    top: 0px;
  }
  .pg ul.lista-produtos li.item-produto h3.titulo {
    margin: 0 auto;
  }
}

@media(max-width: 445px){
  .pg .div-titulo h2.titulo {
    font-size: 26px;
  }
}

@media(max-width: 430px){
  .pg-categorias .borda-categorias::before {
    top: 154px;
  }
}

@media(max-width: 400px){
  .pg ul.lista-produtos li.item-produto.confira a figure img {
    width: 100%;
  }
}
/* MEDIA QUERY */